{% extends "base.html" %}

{% block content %}
<h1>{{ product.name }}</h1>
<img src="{{ product.image.url }}" alt="{{ product.name }}">
<p>catergoy: {{product.category}}</p>
<p>Description: {{ product.description }}</p>
<p>Price: {{ product.price }}</p>
<p>Sale Price: {{ product.sale_price }}</p>
<p>Date Added: {{ product.date_added }}</p>
<p>Date Updated: {{ product.date_updated }}</p>
<p>product added by {{product.user}}</p>
{% if request.user == product.user %}
<a href="{% url 'product_update' product.slug %}">Edit</a>
<a href="{% url 'product_delete' product.id %}">Delete</a>
{% endif %}
{% endblock %}